# Database Configuration
DB_URL=your_db_url
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# Server Configuration
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080

# Security Configuration
SECURITY_USER_NAME=your_admin_username
SECURITY_USER_PASSWORD=your_admin_password
