<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<head>
    <title>Strona główna</title>
</head>
<body>

<div layout:fragment="content">

    <div class="content">
        <div class="split left">
            <div class="centered">
                <img src="logo.png" alt="Logo" class="img-fluid"/>
            </div>
        </div>

        <div class="split right">
            <div class="centered">

                <div class="search-box">
                    <form action="/search" method="get" class="row g-3">

                        <div class="col-md-6">
                            <select class="form-control" name="brand">
                                <option value="" disabled selected hidden>Marka Pojadzu</option>
                                <th:block th:each="brand : ${brands}">
                                    <option th:value="${brand}" th:text="${brand}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <select class="form-control" name="model">
                                <option value="" disabled selected hidden>Model Pojadzu</option>
                                <th:block th:each="carModel : ${carModels}">
                                    <option th:value="${carModel}" th:text="${carModel}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <select class="form-control" name="bodyType">
                                <option value="" disabled selected hidden>Typ Nadwozia</option>
                                <th:block th:each="body : ${bodyTypes}">
                                    <option th:value="${bodyType}" th:text="${body}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input th:value="${price}" type="number" class="form-control" placeholder="Cena od">
                        </div>

                        <div class="col-md-6">
                            <select class="form-control" name="fuelType">
                                <option value="" disabled selected hidden>Rodzaj paliwa</option>
                                <th:block th:each="engine : ${engineTypes}">
                                    <option th:value="${engineType}" th:text="${engine}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <select class="form-control" name="year">
                                <option value="" disabled selected hidden>Rok produkcji</option>
                                <th:block th:each="year : ${years}">
                                    <option th:value="${year}" th:text="${year}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary rounded-pill w-100">
                                Wyszukaj
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="section-title">Oferty</h2>
        <div class="offers-grid">
            <div class="offer-card" th:each="car : ${randomCars}">
                <div class="offer-image">
                    <img src="car.png" alt="Car image">
                </div>
                <div class="offer-content">
                    <h3 th:text="${car.brand + ' ' + car.model}">Nazwa</h3>
                    <p th:text="'Rok: ' + ${car.year} + ', Przebieg: ' + ${car.mileage} + ' km'">
                        Dodatkowa informacja
                    </p>
                    <p class="price" th:text="${car.price + ' PLN'}">Cena</p>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
