<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<head>
    <title>Wyszukaj</title>
</head>
<body>

<div layout:fragment="content">
    <div class="section">
        <h2 class="section-title">Szukane auto</h2>
        <div class="offers-grid">
            <div class="offer-card" th:each="car : ${listOfSearchCars}">
                <div class="offer-image">
                    <img src="car.png" alt="Car image">
                </div>
                <div class="offer-content">
                    <h3 th:text="${car.brand + ' ' + car.model}">Nazwa</h3>
                    <p th:text="'Rok: ' + ${car.year} + ', Przebieg: ' + ${car.mileage} + ' km'">
                        Dodatkowa informacja
                    </p>
                    <p class="price" th:text="${car.price + ' PLN'}">Cena</p>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
